/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* CSS Media Queries for phone compatibility */
@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }
}

/* styling for the body + choosing background */
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin: 5%;
  border: 5%;
  padding: 1%;
  background: url(cool-background.png);
}


/* styling for added list items */
ol li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 30px;
}

/* Remove margins and padding from the list */
ol {
  margin: 0;
  padding: 0;
}


/* make the listed items background colour change on hovering over it */
ol li:hover {
  background: rgb(191, 187, 242);
}

/* code to add a background color and strike out text */
.strike {
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
.check {
  width: 0.8em;
  height: 00.8em;
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
  -webkit-appearance: none;
}

.check:checked {
  background-color: #555;
}

.completed {
  text-decoration: line-through;
}

.task {
  font-size: 18px;
  padding: 10px;
  width: fit-content;
  background: transparent;
  border: none;
}

.task:focus {
  outline: none;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: darkslateblue;
  color: white;
}

/* Style the header */
.header {
  background-color: darkslateblue;
  padding: 30px 40px;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 30px;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
  border-radius: 50px;
}

/* colour change when mouse hovers over li */
ol li:hover {
  background: rgb(191, 187, 242);
}

/* styling for 'add to list' button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  border-radius: 30px;
}

.addBtn:hover {
  background-color: #bbb;
}